.axure-section{
  width: 100%;
  height: 100%;
  background: url('../img/bg/background.png');
  padding: 200px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.axure-section::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(143, 38, 111, 0.4);
  display: block;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.axure-title {
  color: rgb(253, 251, 251);
}

.axure-title::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: rgb(253, 251, 251);
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.axure-text{
  color: rgb(253, 251, 251);
  text-align: center;
  margin-bottom: 50px;
}

.axure-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  margin: auto;
  display: block;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
}

.axure-button:hover {
  border: 1px solid rgba(143, 38, 111, 0.7);
  color: black;
	background-color: rgba(143, 38, 111, 0.7); 
}