.customers-section {
  background-color: #f8f6f6;
}

.customers-title::after {
  content: '';
  width: 70px;
  height: 2px;
  background-color: rgb(143,38,111);
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.customers-text{
  color: rgba(134, 135, 139, 1);
  margin: auto;
}
/*до сюда не трогать*/

.customers-row {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.customers-row-item {
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 15px 25px 15px;
  padding-bottom: 20px;
  position: relative;
}

.customers-row-item-text {
  text-align: center;
  color: #86878B;
  background-color:rgba(143,38,111,0.4);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

.customers-row-user {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}

.avatar {
  display: flex;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  margin-top:auto;
}

.username{
  font-size: 20px;
  font-weight:700;
  text-align: center;
  color: #333333;
}

.userposition{
  text-align: center;
  color: #86878B;
  margin-top: 20px;
  font-size: 14px;
}

.customers-row-item-text::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(143,38,111,0.4);
  position: absolute;
  right: 70px; 
  top: 100%;}