@import url("../css/awesome.css");

.section{
padding: 0; 15px;
max-width: 1170px;
background-color: #ffffff;;
text-align: center;
}

.container{
  padding: 0; 15px;
  max-width: 1170px;
  background-color: #ffffff;;
  text-align: center;
  }