.section{
padding: 0; 15px;
max-width: 1170px;
background-color: #ffffff;;
text-align: center;
}

.awesome_title {
  font-size: 24px;
  margin: auto;
  padding: 20px;
}

.awesome_line{
  align-content: center;
  margin:auto;
  width: 70px;
  height: 20px;
  border-top: 3px solid; color: grey;
  }
.awesome_text{
  font-size: 14px;
  color: grey;
}

.item1 {
  max-width: 300px;  /*ширина item*/
  display: inline-block;
  margin: 20px auto;
  padding: 10px;
}

.item_image {
  max-width: 50px;
  max-height: 50px;
  margin:auto;
  margin-top: 15px;
  border: 2px solid; rgb(214, 214, 12);
  border-radius: 50px;
  padding: 10px;
}

.item_title {
  font-size: 20px;
  margin: 20px 0px;
   
}

.item_text {
  font-size: 16px;
  margin-bottom: 15px;
}